/* =============================================================================

	MAIN.CSS
	version: 1.7
	updated: 2009-03-14, 12:44 GMT+1

============================================================================= */

/* =============================================================================
HTML - styles
============================================================================= */

body {font:13px "arial", sans-serif;}
h1, h2, h3, h4, h5, h6, address, blockquote, dl, fieldset, ol, p, table, ul {margin:15px 0;}
body {background:url("../img/bg3.jpg");  background-size: auto;
    background-repeat: no-repeat; background-color:#FAFAFA; color:#303030;}

a:hover, a:active, a:focus {color:#3e8e41;}

#logout {padding-left:18px; background:url("../img/tray-logout.gif") 0 50% no-repeat; text-transform:uppercase;}

/* navbar */
.navbar-default {
    background:url("../img/header.jpg");
    
 border-radius:7px;
 
 
 }






