/* =============================================================================

	STYLE.CSS
	version: 1.6
	updated: 2009-03-06, 13:00 GMT+1

============================================================================= */

/* =============================================================================
HTML - styles
============================================================================= */

body {background-color:#eaeaea; color:#303030;}
a {color:#0085cc;}
a:hover, a:active, a:focus {color:#df0000;}
#content h2 {color:#0085cc;}
#content table {border:2px solid #cfcfcf;}
#content table th {border-right:1px solid #0074B3; background-color:#0085cc; color:#fff;}
#content table td {border:1px solid #cfcfcf;}
#content table tr.bg td {background-color:#e8f6ff;}
#content dl dt {color:#df0000;}
#content fieldset {border:1px solid #ccc;}
#content legend {background:#FFF; color:#0085cc;}
#content acronym, #content abbr, #content .help {border-bottom:1px dotted #cfcfcf;}

/* =============================================================================
HTML - without styles
============================================================================= */

table.nostyle th, dl.nostyle dt {color:#303030 !important;}

/* =============================================================================
LAYOUT
============================================================================= */

#tray {background-color:#303030; color:#cfcfcf;}
#tray a, #tray strong {color:#fff;}
#tray a:hover, #tray a:active, #tray a:focus {color:#b4e3ff;}
#menu {background-color:#0085cc;}
#menu ul li a {background-color:#fff; color:#303030;}
#menu ul li a span {background-color:#FFF;}
#menu ul li a:hover, #menu ul li a:active, #menu ul li a:focus, #menu ul li#menu-active a {background-color:#FFF; color:#df0000;}
#menu ul li a:hover span, #menu ul li#menu-active a span {background-color:#FFF;}
#menu ul li#menu-active a {color:#0085cc;}
#menu ul.f-right a {color:#df0000;}
#content {border:1px solid #afafaf; background:#fff;}
#footer {color:#707070;}
#footer a {color:#707070;}
#footer a:hover, #footer a:active, #footer a:focus {color:#303030;}

/* =============================================================================
OTHERS
============================================================================= */

#aside #logo img {border:1px solid #bfbfbf;}
#aside #search fieldset a {color:#303030;}
#aside #search fieldset {border:1px solid #bfbfbf;}
#aside #search fieldset a:hover, #aside #search fieldset a:active, #aside #search fieldset a:focus {color:#df0000;}
#aside #btn-create a {background-color:#fff; color:#303030;}
#aside #btn-create a span {background-color:#fff;}
#aside ul li a {border-bottom:1px solid #cfcfcf; color:#303030;}
#aside ul li#submenu-active a {background-color:#df0000; color:#fff;}
#aside ul li a:hover, #aside ul li a:active, #aside ul li a:focus {color:#df0000;}
#aside ul ul li a, #aside ul li#submenu-active ul li a {border-bottom:1px solid #cfcfcf; background-color:#f5f5f5; color:#303030;}
#aside ul li ul li a {background-color:#e3e3e3;}
#aside ul ul li a:hover, #aside ul ul li a:active, #aside ul ul li a:focus, #aside ul li#submenu-active ul li a:hover, #aside ul li#submenu-active ul li a:active, #aside ul li#submenu-active ul li a:focus {color:#df0000;}
#content h1 {background-color:#303030; color:#fff;}
#content .tabs {border-bottom:1px solid #cfcfcf;}
#content .tabs a {color:#303030;}
#content .tabs a span {color:#303030;}
#content .tabs .ui-tabs-selected a {color:#fff;}
#content .tabs .ui-tabs-selected a span {color:#fff;}
.high {color:#df0000;}
.high-bg {background:#FFB;}
.low {color:#707070;}

/* =============================================================================
MESSAGES
============================================================================= */

.msg.warning {border:2px solid #F2DD8C; background-color:#FFF5CC;}
.msg.warning a {color:#df0000;} .msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus {color:#303030;}
.msg.info {border:2px solid #B8E2FB; background-color:#E8F6FF;}
.msg.done {border:2px solid #BBDF8D; background-color:#EAF7D9;}
.msg.error {border:2px solid #FFAEAE; background-color:#FEEBEB;}

@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,500,700|Roboto&display=swap");
*, *, ::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

button {
  width: 200px;
  height: 55px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  cursor: pointer;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

body {
  background-color: rgba(244, 255, 246, 0.83);
}

header {
  height: 100vh;
  background-image: url("img/bg.svg");
  background-size: cover;
  background-position: center;
}
header main {
  height: 100%;
}
header main form {
  width: 80%;
  background-color: #FFF;
  height: 83%;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
header main form aside {
  width: 40%;
  background-image: linear-gradient(to right, #bc4e9cd1, #f80759b3);
  position: relative;
}
header main form aside:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(228, 171, 220, 0.42);
  clip-path: circle(30% at 30% 0%);
}
header main form aside:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(228, 171, 220, 0.42);
  clip-path: circle(40% at 0% 0%);
}
header main form aside h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #FFF;
  text-transform: capitalize;
  line-height: 2;
}
header main form aside h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 1rem 2rem;
  color: #FEF;
  margin-top: -1rem;
  font-weight: 200;
  text-transform: capitalize;
}
header main form aside button {
  border-radius: 30px;
  color: #FFF;
  border: 1px solid #FFF;
  background-color: transparent;
  margin-top: 1rem;
}
header main form .content {
  width: 60%;
  position: relative;
}
header main form .content .text {
  padding: 2rem 0;
  margin-top: -2rem;
}
header main form .content .text h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #bb41aa;
}
header main form .content .text .icon {
  margin-bottom: 1rem;
}
header main form .content .text .icon i {
  font-size: 1.7rem;
  color: rgba(88, 27, 152, 0.67);
  margin-left: 0.5rem;
}
header main form .content .text span {
  font-family: "Raleway", sans-serif;
  color: rgba(61, 71, 76, 0.92);
}
header main form .content .form-group {
  width: 85%;
}
header main form .content .form-group input {
  width: 100%;
  height: 55px;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  padding-left: 1rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  background-color: #f0f0f0;
  border-radius: 4px;
}
header main form .content .form-group input[type=submit] {
  width: 200px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(to right, #bc4e9c, #f80759);
  color: #FFF;
}

/*# sourceMappingURL=style.css.map */
