@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,500,700|Roboto&display=swap');

// MAIN FONTS 
$robo: 'Roboto',sans-serif;
$mont: 'Montserrat',sans-serif;
$rale: 'Raleway',sans-serif;

// COLORS
$main-color : rgb(0, 120, 255);
$gray : rgba(84, 95, 101, 0.78);
$gray-second : rgba(61, 71, 76, 0.92);

// RESET STYLE
*,*,::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none;
}

// BUTTONS
button{
    width: 200px;
    height: 55px;
    font-family: $mont;
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
}

// COMMON CLASSES
.container{
    max-width: 90%;
    margin: 0 auto;
}

.flex{display: flex}
.flex-column{flex-direction: column;}
.items-center{align-items: center;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}

body{
    background-color: rgba(244, 255, 246, 0.83);
}

// HEADER SECTION
header{
    height: 100vh;
    background-image: url('img/bg.svg');
    background-size: cover;
    background-position: center;
    main{
        height: 100%;
        form{
            width: 80%;
            background-color: #FFF;
            height: 83%;
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.16);
            border-radius: 30px;
            overflow: hidden;
            position: relative;
            aside{
                width: 40%;
                background-image: linear-gradient(to right, #bc4e9cd1, #f80759b3);
                position: relative;
                &:after{
                    width: 100%;
                    height: 100%;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(228, 171, 220, 0.42);
                    clip-path: circle(30% at 30% 0%);
                }
                &:before {
                    width: 100%;
                    height: 100%;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(228, 171, 220, 0.42);
                    clip-path: circle(40% at 0% 0%);
                }
                h1{
                    font-family: $robo;
                    font-size: 2.5rem;
                    text-align: center;
                    color: #FFF;
                    text-transform: capitalize;
                    line-height: 2;
                }
                h2{
                    font-family: $rale;
                    font-size: 1rem;
                    line-height: 1.7;
                    letter-spacing: .5px;
                    text-align: center;
                    padding: 1rem 2rem;
                    color: #FEF;
                    margin-top: -1rem;
                    font-weight: 200;
                    text-transform: capitalize;
                }
                button{
                    border-radius: 30px;
                    color: #FFF;
                    border: 1px solid #FFF;
                    background-color: transparent;
                    margin-top: 1rem;
                }
            }
            .content{
                width: 60%;
                position: relative;
                .text{
                    padding: 2rem 0;
                    margin-top: -2rem;
                    h1 {
                        text-align: center;
                        font-family: $rale;
                        font-size: 2rem;
                        line-height: 2;
                        letter-spacing: 1px;
                        text-transform: capitalize;
                        color: rgb(187, 65, 170);
                    }
                    .icon{
                        margin-bottom: 1rem;
                        i{
                            font-size: 1.7rem;
                            color: rgba(88, 27, 152, 0.67);
                            margin-left: .5rem;
                        }
                    }
                    span{
                        font-family: $rale;
                        color: $gray-second;
                    }
                }
                .form-group{
                    width: 85%;
                    input{
                        width: 100%;
                        height: 55px;
                        font-family: $rale;
                        font-size: 1.1rem;
                        padding-left: 1rem;
                        text-transform: capitalize;
                        margin-bottom: 1rem;
                        background-color: rgb(240, 240, 240);
                        border-radius: 4px;
                    }
                    input[type=submit]{
                        width: 200px;
                        border-radius: 30px;
                        text-align: center;
                        cursor: pointer;
                        background-image: linear-gradient(to right, rgb(188, 78, 156), rgb(248, 7, 89));
                        color: #FFF;
                    }
                }
            }
        }
    }
}